bikerrental.dtd

<!ELEMENT bikeRental (bike+)>
<!ELEMENT bike (name, rentalDate, returnDate, rentalPrice, renterName, location)>
<!ATTLIST bike id ID #REQUIRED type CDATA #REQUIRED>

<!ELEMENT name (#PCDATA)>
<!ELEMENT rentalDate (#PCDATA)>
<!ELEMENT returnDate (#PCDATA)>
<!ELEMENT rentalPrice (#PCDATA)>
<!ELEMENT renterName (#PCDATA)>
<!ELEMENT location (#PCDATA)>
